body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
}

.scroll-container {
  overflow: hidden;
}

.content {
  width: 50%;
  padding: 50px;
  padding-top: 250px;
  height: 135vh; /* Enough space for scrolling */
  display: flex;
  flex-direction: column;
}
.text:nth-of-type(1) {
  font-size: 0.4rem;
}
.text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 55px 0;
  opacity: 0; /* Start hidden */
  transform: scale(0.5); /* Start smaller */
  transform-origin: left center;
}

.image-container {
  width: 50%;
  position: fixed;
  top: 8% !important;
  left: 52% !important;
  transform: translateY(-50%);
  z-index: 1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.pinned-image {
  width: 90%;
  height: auto;
  position: absolute;
}
